name: Node CI

on:  
  push:
    branches: [main]
  pull_request:
    branches: [main]
    
jobs: ## job 들을 명시
  build: ## job id
    runs-on: ubuntu-latest ## 해당 job의 구동 환경을 정의
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Cache node modules
        uses: actions/cache@v2
        id: cache
        with:
          # node_modules라는 폴더를 검사하여
          path: node_modules
          # 아래 키값으로 cache가 돼있는지 확인합니다.
          key: npm-packages-${{ hashFiles('**/package-lock.json') }}
      - name: Npm Install, build and test
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          yarn install
          yarn build
          yarn test
          # env:
          #   CI: true
  deploy:
    needs: build
    runs-on: ubuntu-latest ## 해당 job의 구동 환경을 정의
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Cache node modules
        uses: actions/cache@v2
        id: cache
        with:
          # node_modules라는 폴더를 검사하여
          path: node_modules
          # 아래 키값으로 cache가 돼있는지 확인합니다.
          key: npm-packages-${{ hashFiles('**/package-lock.json') }}
      - name: Npm Install, build and test
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          yarn install
          yarn build
          yarn test
          # env:
          #   CI: true
      - name: Install Plugin and Deploy
        uses: serverless/github-action@v3.1
        with:
          args: deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}